.thoughts-table-wrapper {
  width: 100%;

 .thoughts-table {
    width: 100%;

    /*
    th {
      text-align: start;
      padding: 8px 16px;
    }
    td {
      padding: 8px 16px;
    }
    */
 }
}